<div class="liste-diagnostic-top-bar">
  <div class="liste-diagnostic-title">
    <h1>Ajouter Diagnostic</h1>
  </div>
  <div class="container-name-lastname">
    <p>Nom</p>
    <p>Prénom</p>
  </div>
</div>
<div class="title-doctor">
  <h2>Docteur:</h2>
  <p class="name">Name</p>
</div>
<form action="">
  <label for="">Diagnostic:</label>
  <span></span>
</form>
<div class="btn-patient">
  <nav>
    <button [routerLink]="['/patient']">Valider</button>
    <button [routerLink]="['']">Retour</button>
  </nav>
</div>
