<h1>Patient</h1>

<div class="patient-avatar-profil">
  <div class="patient-avatar">
    <img src="" alt="" />
  </div>
  <div class="patient-profil-btn">
    <button class="btn-profil" [routerLink]="['/profil']">Profil</button>
  </div>
</div>
<form action="">
  <h2>Nom</h2>
  <h3>Prénom</h3>
  <label for="">Dernier Diagnostic :</label>
  <span>.....</span>
</form>
<div class="btn-patient">
  <nav>
    <button [routerLink]="['/liste-diagnostic']">Liste Diagnostic</button>

    <button [routerLink]="['']">Retour</button>
  </nav>
</div>
