<div class="liste-diagnostic-top-bar">
  <div class="liste-diagnostic-title">
    <h1>Liste Diagnostic</h1>
  </div>
  <div class="container-name-lastname">
    <p>Nom</p>
    <p>Prénom</p>
  </div>
</div>
<div class="liste-avatar">
  <img src="" alt="" />
</div>
<form action="">
  <label for="">Liste Diagnostic:</label>
  <p>Médecin:</p>
  <span></span>
</form>
<div class="btn-patient">
  <nav>
    <button [routerLink]="['/add-diagnostic']">Ajouter Diagnostic</button>

    <button [routerLink]="['/patient']">Annuler</button>
  </nav>
</div>
