<h1>New Patient</h1>
<div class="form-new-patient">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <label for="nom">Nom</label>
    <input id="nom" formControlName="nom" placeholder="Votre Nom" />
    <span
      [ngClass]="{
        'valid-input': patientForm.get('nom')?.value.length > 3,
        'invalid-input': patientForm.get('nom')?.value.length <= 3
      }"
    ></span>
    <label for="prénom">Prénom</label>
    <input id="prenom" formControlName="prénom" placeholder="Votre Prénom" />
    <span
      [ngClass]="{
        'valid-input': patientForm.get('nom')?.value.length > 3,
        'invalid-input': patientForm.get('nom')?.value.length <= 3
      }"
    ></span>
    <label for="email">Email</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="Votre Email"
      autocomplete="email"
    />
    <span
      [ngClass]="{
        'email-valide': patientForm.get('email')?.valid,
        'invalid-email': !patientForm.get('email')?.valid
      }"
      *ngIf="patientForm.get('email')?.touched"
    >
      {{ patientForm.get("email")?.valid ? "email-valide" : "invalid-email" }}
    </span>
    <label for="password">Mot de passe</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="Votre Mot de passe"
      autocomplete="current-password"
    />
    <label for="age">Age</label>
    <input
      id="age"
      formControlName="age"
      type="number"
      placeholder="Votre Age"
    />
    <label for="telephone">Téléphone</label>
    <input
      id="telephone"
      type="text"
      formControlName="telephone"
      placeholder="Votre Numéro"
    />
    <div class="select-container">
      <div class="select-container-content">
        <label for="genre">Genre</label>
        <select id="genre" formControlName="genre">
          <option value="M">M</option>
          <option value="F">F</option>
          <option value="No Genre">No Genre</option>
        </select>
      </div>
      <div class="select-container-content">
        <label for="etatCivil">État Civil</label>
        <select id="etatCivil" formControlName="etatCivil">
          <option value="Marié(e)">Marié(e)</option>
          <option value="Séparé(e)">Séparé(e)</option>
          <option value="Aucune">Aucune</option>
        </select>
      </div>
      <div class="select-container-content">
        <label for="mainPreferee">Main Préférée</label>
        <select id="mainPreferee" formControlName="mainPreferee">
          <option value="G">G</option>
          <option value="D">D</option>
        </select>
      </div>
    </div>
    <div class="btn-new-patient">
      <button>Valider</button>
      <button [routerLink]="['/oldpatient']">Déjà inscrit ?</button>
    </div>
  </form>
</div>
