h1 {
  text-align: center;
}
.form-new-patient {
  min-height: 200px;
}
.btn-new-patient {
  display: flex;
  justify-content: center;
}

.select-container {
  display: flex;
  justify-content: space-around;
}

