<h1>New Patient</h1>
<div class="form-new-patient">
  <form action="">
    <label for="">Nom</label>
    <input type="text" placeholder="Votre Nom" />
    <label for="">Prénom</label>
    <input type="text" placeholder="Votre Prénom" />
    <label for="">Email</label>
    <input type="email" placeholder="Votre Email" />
    <label for="">Age</label>
    <input type="text" placeholder="Votre Age" />
    <label for="">Téléphone</label>
    <input type="text" placeholder="Votre Numéro" />
    <div class="select-container">
      <select name="" id="">
        <option value="">M</option>
        <option value="">F</option>
        <option value="">No Genre</option>
      </select>
      <select name="" id="">
        <option value="">Marié(e)</option>
        <option value="">Séparé(e)</option>
        <option value="">Aucune</option>
      </select>
      <select name="" id="">
        <option value="">G</option>
        <option value="">D</option>
      </select>
    </div>
  </form>
</div>
<div class="btn-new-patient">
  <nav>
    <button [routerLink]="['/oldpatient']">Déjà inscrit ?</button>

    <button [routerLink]="['/patient']">Valider</button>
  </nav>
</div>
