<h1>Profil Patient</h1>

<form action="">
  <div class="profil-container">
    <p>Avatar</p>
    <button class="modif-profil-btn">Modifier</button>
  </div>
  <div class="profil-container">
    <p>Nom:</p>
  </div>
  <div class="profil-container">
    <p>Prénom:</p>
  </div>
  <div class="profil-container">
    <p>Email</p>
    <button class="modif-profil-btn">Modifier</button>
  </div>
  <div class="profil-container">
    <p>Age</p>
  </div>
  <div class="profil-container">
    <p>Sexe</p>
  </div>
  <div class="profil-container">
    <p>Tél:</p>
    <button class="modif-profil-btn">Modifier</button>
  </div>
  <div class="profil-container">
    <p>Gaucher ou Droitier:</p>
  </div>
  <div class="profil-container">
    <p>Situation Familiale</p>
    <button class="modif-profil-btn">Modifier</button>
  </div>
</form>
<div class="btn-patient">
  <nav>
    <button [routerLink]="['/patient']">Valider</button>

    <button [routerLink]="['/patient']">Annuler</button>
  </nav>
</div>
