/* You can add global styles to this file, and also import other style files */
button {
  background: black;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
